body{
    background-image: url('../img/phone.png');
    background-size: 100vw 100vh;
}
.formulario__titulo{
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
.formulario__principal{
    background:rgba(0, 0, 0,0.4);
    width: 450px;
    margin: 20px auto;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 10px;
}
.formulario__link{
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 6px;
    border-radius: 6px solid #333;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    background:rgba(0,0,0,0.9);
}
.formulario__boton{
    cursor: pointer;
    box-sizing: border-box;
    padding: 6px 0;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    background:#CA4237;
    color: #fff;
    border: none;
}
.formulario__link:hover{
    background:rgba(0,0,0,0.5);
}
.formulario__boton:hover{
    background:rgba(202, 66, 55, 0.8);
}
